*{
    margin: 0px;   /* RESETEO DE MARGENES */
    padding: 0px;
}



header{

    height: 70px;
    background-color:rgb(180, 221, 231);
    
}



.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__logo{
    width: 60px;
    height: 60px;
 
}

.header__lista {
    
    display: flex; 
    list-style: none; 
    padding: 0px 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    font-family:'Indie Flower', cursive, bold;
    font-size: large;
    
    
}

.header__item a{
   
    padding: 0px 20px;
    color: #1f0d63;
    text-decoration: solid;
}

/* INDEX MAIN */

main{
    background-image: url(../resources/Bubble2.jpg);
    background-size: cover;
 
}

/* INDEX__BANNER */

.main__banner{
  
}

.banner__general{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.banner__img{
    
    padding: 10px;
}

.main__principal{
    display:flex;
    align-items: center;
    justify-content: center;
}

.main__principal h3{
    font-family: 'pacifico'
}

.main__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.main__item--size{

    height: 170px;
    width: 170px;
}

/* INDEX -- SECCION -- NOVEDADES */

.main__novedades{
border-style:solid;
border-color:rgb(180, 221, 231);
margin-left: 300px;
margin-right: 300px;
margin-top: 50px;

}

.novedades__titulo{
    text-align: center;
    background-color:rgb(180, 221, 231);
   
}

.novedades__general{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        
}

.novedades__item{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.novedades__item h5{
    width: 200px;
    height: auto;
    text-align: center;
}


.novedades__img{
    width: 200px;
    height: 200px;
}


/*  INDEX -- SECCION -- OFERTAS */

.main__ofertas{
    border-style:solid;
    border-color:rgb(180, 221, 231);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    
}

.ofertas__titulo{
    text-align: center;
    background-color:rgb(180, 221, 231);
}

.ofertas__general{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.ofertas__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ofertas__item h5{
    width: 200px;
    height: auto;
    text-align: center;
}

.ofertas__img{
    width: 200px;
    height: 200px;
}

.final__footer{

    padding-top: 20px;
   
}




h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    color: #1f0d63;
    font-family: 'League Gothic', sans-serif;
}




/* INICIO CLASES PAGINA CONTACTANOS.HTML ----------------------------------------------*/

.form{

    margin-top: 50px;
    padding-top: 50px;
}

.contactanos__div{
    margin-top: 30px;
}

.contactanos__input{
    margin-top: 15px;
}

.contactanos__footer{
    margin-top: 300px;
}

/* FIN CLASES PAGINA CONTACTANOS.HTML--------------------------------------------------- */


/* INICIO CLASES PAGINA DONDE_ESTAMOS.HTML ----------------------------------------------*/
.sucursales{
    display: inline;
}

.sucursales__lista{
    display:inline

}

.sucursales__lista--item{
    display: inline;
    width: 300px;
    height: 300px;
    padding: 50px;
}


/* FIN CLASES PAGINA DONDE_ESTAMOS.HTML --------------------------------------------------*/

/* INICIO CLASES PAGINA NUESTROS_PRODUCTOS.HTML */
.productos__grid{

    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "producto1 producto2 producto3"
                         "producto1 producto4 producto3"
                         "producto5 producto6 producto7";
    column-gap: 15px;
    row-gap: 15px;
                         
}

.producto1{
    grid-area: producto1;
    background-image: url(../resources/producto1.jpg);
    background-position: center;
    background-size: cover;
}

.producto2{
    grid-area: producto2;
    display: flex;
    background-image: url(../resources/producto2.jpg);
    background-position: center;
    background-size: cover;
}

.producto3{
    grid-area: producto3;
    background-image: url(../resources/producto3.jpg);
    background-position: center;
    background-size: cover;
}

.producto4{
    grid-area: producto4;
    background-image: url(../resources/producto4.jpg);
    background-position: center;
    background-size: cover;
}

.producto5{
    grid-area: producto5;
    background-image: url(../resources/producto5.jpg);
    background-position: center;
    background-size: cover;
}

.producto6{
    grid-area: producto6;
    background-image: url(../resources/producto6.jpg);
    background-position: center;
    background-size: cover;
}

.producto7{
    grid-area: producto7;
    background-image: url(../resources/producto7.jpg);
    background-position: center;
    background-size: cover;
}

.tituloprod{
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}


/* INICIO CLASES PAGINA SOBRE_NOSOTROS.HTML */

.nosotros__lista{
display: inline;
}

.nosotros__lista--imagenes{
display: inline;
width: 600px;
height: 600px;
}






/* FOOTER */

footer{
    display: grid;
    grid-template-areas: "indice mapa redes"
                         "indice mapa derechos";
    background-color:rgb(180, 221, 231);
    padding: 24px;
}

.size__mapa{

    width:250px;
    height: 150px;
}

.footer__indice {
    grid-area: indice;
}

.footer__mapa { 
    grid-area: mapa;
}

.footer__redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__derechos { 
    grid-area: derechos;
}


.footer ul li {
    font-size: 16px;
}

.footer__iconoredes{

    width: 70px;
    height: 70px;
    padding: 16px;
    margin: 15px;
}

.footer__lista a {

    font-family:'Indie Flower', cursive, bold;
    font-size: large;
    color: #1f0d63;
    text-decoration: solid;
}

a{
    text-decoration: none;
    color:lightgray
}

ul {

    list-style: none;
}

/* MEDIA QUERY CELULAR */
@media (min-width: 320px) and (max-width: 575px) {

    /* NAVEGACION */
    
    header{
        height: auto;
    }

    .header__nav{
        flex-direction: column;
    }

    .header__lista{
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    footer{
        display: grid;
        grid-template-areas: "indice" 
                             "mapa" 
                              "redes"
                             "derechos";
        padding: 10px;
    }

    .size_mapa{
        width: 200px;
        height: 100px;
    }
    
    

    /* INDEX - GRID - NOVEDADES */
    
    
    .main__novedades{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        
        
    }

    .main__nov1{
    
        grid-column:1,2;
        grid-row: 1,2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    .main__nov2{
        grid-column:1,2;
        grid-row: 2,3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    
    }
    
    .main__nov3{
        grid-column:1,2 ;
        grid-row: 3,4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    
    .main__nov4{
        grid-column:1,2 ;
        grid-row: 4,5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    .main__nov5{
        grid-column:1,2 ;
        grid-row: 5,6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    .main__nov6{
        grid-column:1,2 ;
        grid-row: 6,7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .main__nov--img{
    
        width: auto;
        height: auto;
        
    }
    
    .main__nov--imgs{
       
        padding: 10px; 
      
    }

    
    /* INDEX FLEX OFERTAS */

    .main__ofertas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .main__ofertas--item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 0;
    }
    
    
    
    

    
    /* NUESTROS PRODUCTOS - PRODUCTOS-GRID */

    .productos__grid{
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        
    }

    .producto1{
    grid-column: 1,2;        
    grid-row: 1,2;
    
    }
    
    .producto2{
     grid-column: 1,2;
     grid-row: 2,3;   
     
    }
    
    .producto3{
     grid-column: 1,2;
     grid-row: 3,4;
    }
    
    .producto4{
     grid-column: 1,2;
     grid-row: 4,5;
    }
    
    .producto5{
     grid-column: 1,2;
     grid-row: 5,6;
    }
    
    .producto6{
     grid-column: 1,2;
     grid-row: 6,7;
    }
    
    .producto7{
     grid-column: 1,2;
     grid-row: 7,8;
    }
    
    
    




/*MEDIA QUERY TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    
    /* INDEX - GRID - NOVEDADES */
    
    .main__novedades{
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas: "nov1 nov2 nov3"
                             "nov4 nov5 nov6";
                              
    }
    
    
/* NAVEGACION */


.header__nav{
    flex-direction: row;
}

.header__lista{
    flex-direction: row;
    flex-grow: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

/* FOOTER */
footer{
    display: grid;
    grid-template-areas: "indice mapa redes"
                         "indice mapa derechos";
    background-color: #5AF;
    padding: 24px;
}

.size_mapa{
    width: 300px;
    height: 200px;
}

}
