@charset "UTF-8";
/* FOOTER */
footer {
  margin-top: 20px;
  background-color: #b4dde7;
  padding: 24px; }
  footer ul {
    font-family: 'Montserrat', sans-serif; }
  footer .footer__listaitems {
    list-style: none;
    text-decoration: none;
    text-decoration-style: none; }

/* HEADER NAVEGACION*/
.header {
  background-color: #a4e6f7; }
  .header__itemletra {
    font-family: "Montserrat", sans-serif;
    font-style: italic; }

.favicon__size {
  width: 300px;
  height: 100px; }

.producto__propiedades, .producto1, .producto2, .producto3, .producto4, .producto5, .producto6, .producto7 {
  display: flex;
  background-position: center;
  background-size: cover; }

button:hover {
  transform: translate(2px, 2px);
  transition: 0.1s; }

.productos__grid {
  display: grid;
  width: 70vw;
  height: 70vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "producto1 producto2 producto3" "producto1 producto4 producto3" "producto5 producto6 producto7";
  column-gap: 15px;
  row-gap: 15px; }

.producto1 {
  grid-area: producto1;
  background-image: url(../resources/imagenes_producto/esmaltes2.JPG); }

.producto2 {
  grid-area: producto2;
  background-image: url(../resources/imagenes_producto/producto2.jpg); }

.producto3 {
  grid-area: producto3;
  background-image: url(../resources/imagenes_producto/camarauv.jpg); }

.producto4 {
  grid-area: producto4;
  background-image: url(../resources/imagenes_producto/producto4.jpg); }

.producto5 {
  grid-area: producto5;
  background-image: url(../resources/imagenes_producto/producto5.jpg); }

.producto6 {
  grid-area: producto6;
  background-image: url(../resources/imagenes_producto/producto6.jpg); }

.producto7 {
  grid-area: producto7;
  background-image: url(../resources/imagenes_producto/producto7.jpg); }

.tituloprod {
  display: flex;
  font-size: 35px;
  justify-content: center;
  align-items: center; }

.contactanos__footer {
  margin-top: 300px; }

textarea {
  resize: none; }

.consulta__boton {
  font-family: 'Poppins', sans-serif;
  color: #aa0581;
  border-color: #aa0581;
  border-style: solid;
  width: 120px;
  height: 30px;
  background-color: white;
  align-self: center; }
  .consulta__boton:hover {
    transform: translate(2px, 2px); }

.sobre__nosotros--size {
  padding: 0px; }

* {
  margin: 0px;
  /* RESETEO DE MARGENES */
  padding: 0px; }

/* INDEX MAIN */
/* INDEX BANNER CARROUSEL OFERTAS */
.carrousel--tamaño {
  height: 500px; }

.main__principal h5 {
  font-family: 'pacifico';
  font-size: smaller; }

.main__principal h5:hover {
  transform: rotate(5deg);
  transition: 1s; }

/* PROPIEDADES APLICADAS ARTICULOS */
.area__estilo, .articulos {
  border-style: solid;
  border-color: #a4e6f7;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px; }

.area__titulo, .articulos__titulo {
  text-align: center;
  background-color: #a4e6f7; }

.area__boton, .articulos__boton {
  font-family: 'Poppins', sans-serif;
  color: #aa0581;
  border-color: #aa0581;
  border-style: solid;
  background-color: white; }

/*  ARTICULOS RECUADROS */
.articulos__general {
  padding: 30px; }

.articulos__subtitulo {
  text-align: center; }

.articulos__boton:hover {
  transform: translate(2px, 2px); }

.final__footer {
  padding-top: 20px; }

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3rem; }

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem; }

@media (min-width: 320px) and (max-width: 575px) {
  .carrousel--tamaño {
    height: 200px; }
  /* NAVEGACION */
  .main__ofertas {
    margin: 0px;
    margin-top: 15px; }
  .main__novedades {
    margin: 0px;
    margin-top: 15px; }
  /* NUESTROS PRODUCTOS - PRODUCTOS-GRID */
  .productos__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .producto1 {
    grid-column: 1,2;
    grid-row: 1,2; }
  .producto2 {
    grid-column: 1,2;
    grid-row: 2,3; }
  .producto3 {
    grid-column: 1,2;
    grid-row: 3,4; }
  .producto4 {
    grid-column: 1,2;
    grid-row: 4,5; }
  .producto5 {
    grid-column: 1,2;
    grid-row: 5,6; }
  .producto6 {
    grid-column: 1,2;
    grid-row: 6,7; }
  .producto7 {
    grid-column: 1,2;
    grid-row: 7,8; } }

/*MEDIA QUERY TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .main__ofertas {
    margin: 0px;
    margin-top: 50px; }
  .main__novedades {
    margin: 0px;
    margin-top: 50px; }
  .carrousel--tamaño {
    height: 350px; }
  /* FOOTER */ }
