/* FOOTER */

footer{
    margin-top: 20px;
    
    background-color:rgb(180, 221, 231);
    padding: 24px;
    
        ul{
        font-family: 'Montserrat', sans-serif;
        }

        

        .footer{
        
            
            

            &__listaitems{

            list-style:none;
            text-decoration: none;
            text-decoration-style: none;
            }
 }
}