


/* sucursales */
$suc_1: "BUENOS AIRES - CASA CENTRAL";
$suc_1_dir: "Lavalle 1650, C1048, CABA";
$suc_1_tel: "011 4633-2834";
$suc_1_hor: "Abierto 9 a 18 hs";

$suc_2: "CORDOBA";
$suc_2_dir: "Republica del Líbano 763, San Martin, Córdoba";
$suc_2_tel: "0358 4533-8834";
$suc_2_hor: "Abierto 9 a 18 hs";

$suc_3: "SANTA FE";
$suc_3_dir: "Herman Huberman 1750, SANTA FE";
$suc_3_tel: "0568 4636-2634";
$suc_3_hor: "Abierto 9 a 18 hs";

$suc_4: "MENDOZA";
$suc_4_dir: "Robustiano Lopez 2366, MENDOZA";
$suc_4_tel: "0361 4563-2774";
$suc_4_hor: "Abierto 9 a 18 hs";