.productos__grid{

    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "producto1 producto2 producto3"
                         "producto1 producto4 producto3"
                         "producto5 producto6 producto7";
    column-gap: 15px;
    row-gap: 15px;
                         
}

.producto1{
    grid-area: producto1;
    background-image: url(../resources/producto1.jpg);
    background-position: center;
    background-size: cover;
}

.producto2{
    grid-area: producto2;
    display: flex;
    background-image: url(../resources/producto2.jpg);
    background-position: center;
    background-size: cover;
}

.producto3{
    grid-area: producto3;
    background-image: url(../resources/producto3.jpg);
    background-position: center;
    background-size: cover;
}

.producto4{
    grid-area: producto4;
    background-image: url(../resources/producto4.jpg);
    background-position: center;
    background-size: cover;
}

.producto5{
    grid-area: producto5;
    background-image: url(../resources/producto5.jpg);
    background-position: center;
    background-size: cover;
}

.producto6{
    grid-area: producto6;
    background-image: url(../resources/producto6.jpg);
    background-position: center;
    background-size: cover;
}

.producto7{
    grid-area: producto7;
    background-image: url(../resources/producto7.jpg);
    background-position: center;
    background-size: cover;
}

.tituloprod{
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}
