


.producto__propiedades{
    display: flex;
    background-position: center;
    background-size: cover;
}

button:hover{
    transform: translate(2px,2px);
    transition: 0.1s;
    
}

.productos__grid{

    display:grid;
    width: 70vw;
    height: 70vh;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "producto1 producto2 producto3"
                         "producto1 producto4 producto3"
                         "producto5 producto6 producto7";
    column-gap: 15px;
    row-gap: 15px;
                         
}

.producto1{
    grid-area: producto1;
    background-image: url(../resources/imagenes_producto/esmaltes2.JPG);
    @extend .producto__propiedades
}



.producto2{
    grid-area: producto2;
    background-image: url(../resources/imagenes_producto/producto2.jpg);
    @extend .producto__propiedades
    
}

.producto3{
    grid-area: producto3;
    background-image: url(../resources/imagenes_producto/camarauv.jpg);
    @extend .producto__propiedades
    
}

.producto4{
    grid-area: producto4;
    background-image: url(../resources/imagenes_producto/producto4.jpg);
    @extend .producto__propiedades
}

.producto5{
    grid-area: producto5;
    background-image: url(../resources/imagenes_producto/producto5.jpg);
    @extend .producto__propiedades
}

.producto6{
    grid-area: producto6;
    background-image: url(../resources/imagenes_producto/producto6.jpg);
    @extend .producto__propiedades
}

.producto7{
    grid-area: producto7;
    background-image: url(../resources/imagenes_producto/producto7.jpg);
    @extend .producto__propiedades
}

.tituloprod{
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}
